body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0e68c; /* Light Yellow */
}

.container {
    background-color: #fff;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 200px auto;
}
#image {
    margin-bottom: 20px;
    max-width: 50%;
    max-height: 50%;
}

h1 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#question, #message {
    font-size: 18px;
    margin-bottom: 20px;
    color: #4CAF50; /* Green */
}
#no {
    background-color: #e31d1d; /* Green */
}
#no:hover {
    background-color: #0b12e8; /* Darker Coral */
}
button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50; /* Coral */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#no {
    background-color: #ff6f61; /* Green */
}

button:hover {
    background-color: #07ff03; /* Darker Coral */
}
